apiVersion: v1
kind: Pod
metadata:
  namespace: tp2
  name: devcalc
spec:
  containers:
  - name: nginx-server
    image: nginx:1.29.3-alpine-slim
    ports:
     - containerPort: 80

  - name: busybox-client
    image: busybox:latest
    env:
    - name: USER
      value: "root"
    - name: PASSWORD
      value: "123456"

    command: ["/bin/sh", "-c"]
    args: 
      - |
        while true; do
          echo "Hora atual: $(date +'%H:%M:%S')"
          echo "Fazendo requisição HTTP para o Nginx..."
          wget -q -O - http://localhost:80/
          echo "------------------------------------"
          sleep 10
        done
