name: Print Test
on: [pull_request]

jobs:
    test_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Code
          uses: actions/checkout@v3

        - name: Print Test Message
          run: echo "Rodando testes"